@import "tailwindcss";
@import url("https://fonts.cdnfonts.com/css/helvetica-now-mt-micro");

:root {
  font-family: Arial, Helvetica, sans-serif;
  --primary-color-1: #f2eee7;
  --primary-color-2: #f0e0d0;
  --primary-color-3: #e9e2d6;
  --primary-color-4: #62483a;
  --secondary-color-1: #fff;
  --secondary-color-2: #757575;
  --secondary-color-3: #c2a78f;
  /* -------------------------------- */
  --fontGray-color: #757575;
  --backgroundImgae-color: #d9d9d9;
  --buttonUpImage-color: #667080;
  --hoverButtonUpImage-color: #66708059;
  --inputBorder-color: #9f8e84;
  --formRegister-color: #f9f7f3;
  --mainSectionRegister-color: #f2eee7;
  --headerRegister-color: #f8e4d4;
  --whiteCream-color: #f2eee7;
  --cream-color: #f0e0d0;
  --darkCream-color: #e9e2d6;
  --chocolate-color: #62483a;
  --hoverBgButton-color: #62483a3b;
  --hoverTextButton-color: #49352a;
}

/* Custom background classes */
.bg-primary1 {
  background-color: var(--primary-color-1);
}

.bg-primary2 {
  background-color: var(--primary-color-2);
}

.bg-primary3 {
  background-color: var(--primary-color-3);
}

.bg-primary4 {
  background-color: var(--primary-color-4);
}

.bg-secondary1 {
  background-color: var(--secondary-color-1);
}

.bg-secondary2 {
  background-color: var(--secondary-color-2);
}

.bg-secondary3 {
  background-color: var(--secondary-color-3);
}
